<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/logic/' %} active {% endif %}"><a href="{{ "/logic/" | absolute_url }}">Logic & Formal Methods</a></li>
  <li class="{% if page.url contains '/computationalbiology/' %} active {% endif %}"><a href="{{ "/computationalbiology/" | absolute_url }}">Computational Biology</a></li>
  <li class="{% if page.url contains '/poems/' %} active {% endif %}"><a href="{{ "/poems/" | absolute_url }}">Poetry</a></li>
</ul>

<ul class="icons">
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
