<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">Logic & Formal Methods</a></li>
  <li class="{% if page.url contains '/computational_biology/' %} active {% endif %}"><a href="{{ "/computational_biology/" | absolute_url }}">Computational Biology</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Poetry</a></li>
</ul>

<ul class="icons">
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
