<!DOCTYPE HTML>
<!--
	Greg Trost of New Mexico
-->
<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
				</header>


				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}
						
					</nav>

				<!-- Main -->
				<div id="main">

          <article class="post featured">
            <header class="major">
              <h2><a href="#">Computation Biology</a></h2>
              <img src="/images/dead_tree.jpg" alt="Dead Tree 5 Μinutes From Home" style="width: 500px; height: auto;">
              <p> Computation Biology, with its popular sub-areas Systems Biology and Bioinformatics, 
		      is the application of computational methods to understand Biology. 
		      Within Computational Biology, I focus mainly on Microbiomics: the study of Microbiomes (like bacteria colonies in the gut).
							</p>
            </header>
						<p>
							Computational Biology is a more recent passion of mine. 
							I started digging into Computational Biology seriously during the end of 2020. 
							My C.S. and Math backgrounds made the field easy to get into, 
							and most of what I've picked up in my first months has been specific to Biology. 
						</p>
						<p>
							More generally, I feel there's so much work to be done in Computational Biology.
							I believe the replication crisis is the biggest issue facing Medicine right now, 
							and I believe advances in either funding or mathematical/statistical-inference 
							are the two best approaches to resolving the crisis.
		  					Since I don't have the money to fund large research projects, I choose to persue the latter.
						</p>
						<p>
							So here's to what I can do to help in advancing Medicine the best ways I know how!
						</p>


          </article>
					<!-- Post -->
					<section class="posts">
						{% for post in site.posts %}
						{% assign mod3 = forloop.index | modulo: 3 %}
							<article>
								<header>
									<span class="date">{{ post.date | date_to_string }}</span>
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
								</header>
								<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
								</ul>
							</article>
							{% if mod3 == 0 %}
							<article>
								<header>
									<h2><a href="#">Sponsored</a></h2>
								</header>

							</article>
							{% endif %}
						{% endfor %}

					</section>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
			{% include tracking.html %}

	</body>
</html>
